<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->

            <div class="modal-content">
    
                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-pencil"></i> Contact form</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <%= form_tag (listing_contact_owner_index_path(@listing)) do %>
                    <!-- /listings/1/contact_owner -->
                    <div class="modal-body mb-0">
                        <div class="md-form form-sm">
                            <i class="fa fa-user prefix"></i>
                            <%= text_field_tag :name, nil, class: 'form-control', placeholder: "Your name" %>
                        </div>
        
                        <div class="md-form form-sm">
                            <i class="fa fa-envelope prefix"></i>
                            <%= email_field_tag :email, nil, class: 'form-control', placeholder: "Your email" %>
                            
                        </div>
        
                        <div class="md-form form-sm">
                            <i class="fa fa-tag prefix"></i>
                            <%= text_field_tag :subject, nil, class: 'form-control', placeholder: "Subject" %>
                        </div>
        
                        <div class="md-form form-sm">
                            <i class="fa fa-pencil prefix"></i>
                            <%= text_area_tag :message, nil, class: 'md-textarea', placeholder: "Your message" %>
                        </div>
        
                        <div class="text-center mt-1-half">
                            <button class="btn btn-info mb-2">Send <i class="fa fa-send ml-1"></i></button>
                        </div>
        
                    </div>
                <% end %>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: Contact form-->