<% if params[:action] == 'seller' %>

<%= render partial: 'listings_table' %>

<% else %>

  <div class="col-md-3">
    <%= link_to listing do %>
      <div class="card listing-card">
        <div class="view overlay hm-white-slight">

        <%= image_tag listing.image.url, width: '100%' %>

        </div>
        <div class="card-body">
          <h4 class="card-title"><%= listing.name %></h4>
          <p class="card-text">
            <%= listing.category %> <br>
            <%= listing.description %> <br>
            <%= listing.country %> <br>
            <hr>
            <%= number_to_currency listing.price %>
            <% if (user_signed_in?) && (current_user == listing.user) && (params[:action] == 'seller') %>
              <%= link_to 'Edit', edit_listing_path(listing) %> | <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>