
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <%= image_tag 'logo-sticky.png', class: 'navbar-brand', width: '50px' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div class="navbar-nav mr-auto mt-2 mt-lg-0">
        <%= link_to 'Contact', contact_path, class: 'nav-link nav-item' %>
        <%= link_to 'Listings', listings_path, class: 'nav-link nav-item' %>
      </div>
      <form class="form-inline my-2 my-lg-0">

        <% if user_signed_in? %>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                 <%= fa_icon "user" %> My Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "Manage Listings", seller_path , class: 'dropdown-item' %>
                <%= link_to "Sell Item", new_listing_path, class: 'dropdown-item' %>
                <%= link_to "Account Settings", edit_user_registration_path, class: 'dropdown-item' %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>

              </div>
            </div>

        <% else %>
          <%= link_to "Login", new_user_session_path, class: 'nav-link nav-item' %>
          <div class="sign-up">
            <button class="btn btn-outline-success" type="button"><%= link_to "Sign Up", new_user_registration_path %> </button>
          </div>
        <% end %>
      </form>
    </div>
  </div>
</nav>


























