<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'mdb', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'mdb.min', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= render "shared/application_nav" %>

      <div <% if params[:action] != 'home' %> class="container padding" <% end %> >
        <%= render "shared/messages" %>
      <%= yield %>

      </div>

    <%= render "shared/application_footer" %>

  </body>
</html>